<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/dé1.jpg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>{% block tittle %}Dé-2-JP{% endblock %}</title>





    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        h1 {
            color : white;
        }
    </style>


</head>
<body>

<header>
    <div class="navbar navbar-dark bg-info shadow-sm">
        <div class="container">
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg></button>
            </div>
            <a href="#" class="navbar-brand d-flex align-items-center animate__animated animate__backInLeft">
                <img src="{{ asset('assets/images/dé1.jpg') }}" class="img-thumbnail" alt="icones" />

            </a>
            <h1><strong>Dé-2-JP</strong></h1>
            <div class="navbar-item-custom">
                {% if app.user %}
                    <button type="button" class="btn btn-outline-danger"><a href="{{ path('account') }}">Mon compte</a></button>
                    <button type="button" class="btn btn-outline-success"><a href="{{ path('app_logout') }}">Déconnexion</a></button>
                {% else %}
                <button type="button" class="btn btn-outline-danger"><a href="{{ path('app_login') }}">Connexion</a></button>
                <button type="button" class="btn btn-outline-success"><a href="{{ path('register') }}">Inscription</a></button>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<main>
    {% if block('a_propos') is defined%}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="fw-bold">DE A COUDRE</h2><br>
                <p class="fst-italic">Je vous présente ma collection de dé à coudre venu des differentes régions de France et de pays. Je m'appelle Jean-Paul, j' ai 41 ans et je vis dans l'Allier.</p>
            </div>
        </div>
    </section>
    {% endif %}


    <div class="album py-5  bg-light{% if block('a_propos') is not defined %}mt-5 bg-white{% endif %}">
        {% block content %}
        {% endblock %}
        </div>



    <footer class="p-3 mb-2 bg-info text-white footer-custom">
        {% if block('footers') is defined%}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                <li class="page-item">

                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>

                </li>

            </ul>
        </nav><hr>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4 text-start">
                    <h4 class="text-white">A propos de</h4>
                    <p class="text-white">Un dé à coudre est un petit objet souvent cylindrique dans lequel on insère le bout du doigt pour le protéger de l'aiguille à coudre, généralement le majeur ou l'annulaire.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4 text-start">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">
                    <button type="button" class="btn btn-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg></button>
                </a>
            </p>
            <p class="text-center"> &copy; Dé-2-JP 2022</p>

        </div>
    </footer>


</main>


<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>


</body>

</html>